h1{
    color:rgb(236, 217, 44);
    text-align: center;
}
body{
    background-color:rgba(0, 0, 0);
    margin : 25px 30px 30px 50px;
}
p,table{
    color:white;
}

a{
    color:rgb(144, 201, 183);
}
ol{
    color:rgb(253, 139, 244);
}
li{
    color:white;
    list-style-type: circle;
    font-family: 'Times New Roman', Times, serif
}
h2{
    color:rgb(236, 222, 97)
}
th{
    color: rgb(56, 182, 88);
    font-size: large;
    font-style: italic;
}
table,th,td{
    border: 1px solid white;
}
td{
    text-align: center;
}
thead{
    color: rgb(56, 182, 88);
    font-size: large;
}
table{
    height: 110%;
    width : 110%
}