h1{
    color: rgb(250, 187, 70);
    text-align: center;
}
body{
    background-color:rgba(0, 0, 0);
    margin : 60px 60px 60px 85px;
}
p{
    color:white;
}

a{
    color:rgb(144, 201, 183);
}
ol{
    color:rgb(253, 139, 244);
}
li{
    color:white;
    list-style-type: circle;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}
h2{
    color:rgb(236, 222, 97)
}
#types{
    color: rgb(56, 182, 88);
}