table,th,td{
    border: 0.1px solid rgb(0, 0, 0);
}
td{
    text-align: center;
}
table{
    height: 110%;
    width : 110%
}
th{
    
    font-size: large;
    font-style: italic;
}
h1{
    font-size: xx-large;
   text-align: center;
}
h3{
   
    font-size: large;
    font-style: italic;
}
p{
    font-size: large;
}
body{
    
    margin: 60px 60px 60px 85px;
    background-color: rgb(209, 209, 209)
    
}
